.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 299px;
    
    }

.header__menu {
    padding-top: 133px;
    padding-left: 50px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    white-space: nowrap;
    padding-bottom: 142px;
}    

.header__links-list {
    display: flex;
    justify-content: start;
    width: 391.48px;
   height: 22px;
    column-gap: 33px;
    
}

.header__links-list-item {
    list-style: circle;
   


}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.header__logo {
    display: block;
    width: 150px;
    height: 109px;


}

.header__logo-image {
    padding-left: 7px;
    padding-right: 6px;
    padding-top: 2px;
 
    
    
    
}

.address {
    padding-right: 50px;
    padding-top: 2px;
    justify-self: end;
    width: 290px;
    font-style: normal;
    height: 98px;
    font-size: 18px;
    line-height: 24px;


}

.address-link-border {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.header__address {
   
    
}

.cover {
    height: 757px;
    background-image: url(C:/Users/nobil/OneDrive/Desktop/project1/ono-tebe-nado-fd/images/cover.jpg);
}

.lots {
    width: 1052px;
    height: 723px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
}

.about {
    width: 1052px;
    height: 595px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;

}

.footer {
    height: 180px;

}

.main__background {
    background-color: white;
}