.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding-right: 50px;
    padding-left: 50px;
}

.header__menu {
    padding-top: 127px;
    padding-bottom: 142px;
    line-height: 32px;
    font-weight: 400;
    font-size: 18px;
}    

.header__links-list {
    display: flex;
    justify-content: start;
    width: 392px;
    height: 22px;
    column-gap: 33px;    
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.header__logo {   
    width: 137px;
    height: 109px;
}

.header__logo-image {
    display: block;  
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.address-link-border {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.header__address {
    max-width: 1100px;
    width: 240px;
    justify-self: end; 
    height: 101px;
}

.cover {
    height: 757px;
    background-image: url(C:/Users/nobil/OneDrive/Desktop/project1/ono-tebe-nado-fd/images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 0;
}

.cover__title {
    position: absolute;
    inset: 165px 50px 207px 50px;
    width: 1000px;
    height: 385px;
}

.aligned-text {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 714px;
    padding-bottom: 270px;
}

.aligned-text_center {
    font-weight: 700;
    font-size: 100px;
    line-height: 155%;
    letter-spacing: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 135px 330.5px;
}

.aligned-text_right {
    font-weight: 700;
    font-size: 100px;
    line-height: 116%;
    letter-spacing: 30px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 270px;
    padding-left: 613px;
}

.cover__description {
    z-index: 1;
    position: absolute;
    inset: 656px 50px 50px 50px;
    width: 1000px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    
    
}

.cover__description-text {
    width: 637px;
    height: 28px;
    word-spacing: 19px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    align-self: center;
    
    
}

.bet-button {
    width: 256px;
    height: 51px;
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    
    
    
   

}

.lots {
    width: 1052px;
    height: 723px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
}

.about {
    width: 1052px;
    height: 595px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;

}

.footer {
    height: 180px;

}

.main__background {
    background-color: white;
}