.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding-right: 50px;
    padding-left: 50px;
}

.header__menu {
    padding-top: 127px;
    padding-bottom: 142px;
    line-height: 32px;
    font-weight: 400;
    font-size: 18px;
}    

.header__links-list {
    display: flex;
    justify-content: start;
    width: 392px;
    height: 22px;
    column-gap: 33px;    
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.header__logo {
    display: block;
    width: 150px;
    height: 113px;
}

.header__logo-image {
    padding: 2px 6px 0 7px;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.address-link-border {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.header__address {
    max-width: 1100px;
    width: 240px;
    justify-self: end; 
    height: 101px;
}

.cover {
    height: 757px;
    background-image: url(C:/Users/nobil/OneDrive/Desktop/project1/ono-tebe-nado-fd/images/cover.jpg);
}

.lots {
    width: 1052px;
    height: 723px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
}

.about {
    width: 1052px;
    height: 595px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;

}

.footer {
    height: 180px;

}

.main__background {
    background-color: white;
}